{{#adm}}
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">

                <a class="nav-item nav-link active" id="nav-home-geral" data-toggle="tab" href="#nav-geral" role="tab" aria-controls="nav-geral" aria-selected="true">Geral</a>
                
                {{#abas}}
                    <a class="nav-item nav-link" id="nav-home-{{id}}" data-toggle="tab" href="#nav-{{id}}" role="tab" aria-controls="nav-{{id}}" aria-selected="true">{{nome}}</a>
                {{/abas}} 
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-geral" role="tabpanel" aria-labelledby="nav-home-geral">
                {{! GERAL }}
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Nome do Card </th>
                                <th>Tipo trabalho</th>
                                <th>Quantidade</th>
                            </tr>
                        </thead>
                        
                            <tbody id="myTable">
                                {{#geral}}
                                    <tr>
                                        <td>{{data}}</td>
                                        <td>{{nomecard}}</td>
                                        <td>{{tipo}}</td>
                                        <td>{{quantidade}}</td>
                                    </tr>
                                {{/geral}}
                            </tbody>
                       
                    </table>
                </div>

            {{#abas}}
                <div class="tab-pane fade show" id="nav-{{id}}" role="tabpanel" aria-labelledby="nav-home-{{id}}">
                {{! GERAL }}
            {{/abas}}
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Nome do Card </th>
                                <th>Tipo trabalho</th>
                                <th>Quantidade</th>
                            </tr>
                        </thead>
                        {{#unico_dash}}
                            <tbody id="myTable">
                                
                                    <tr>
                                        <td>{{data}}</td>
                                        <td>{{nomecard}}</td>
                                        <td>{{tipo}}</td>
                                        <td>{{quantidade}}</td>
                                    </tr>
                                
                            </tbody>
                        {{/unico_dash}}
                    </table>
                </div>
                
            
            
          </div>
{{/adm}}