<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="O nosso site é um sistema básico de organização de finanças">

    <!-- TITULO DO SITE -->
    <title>Gerenciador</title>
    <link rel="shortcut icon" href="/img/archive-solid.svg" type="image/x-icon">

    <!-- Bootstrap início -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Bootstrap fim -->
    
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- folha de estilo -->
    <link rel="stylesheet" href="/css/inicio.css">
    <link href="/css/dados.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="/js/cadastro.js"></script>

</head>
    <body class="fundo">
        <!-- MENU -->
        <nav class="navbar navbar-expand-lg" id="menu">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <a class="navbar-brand" href="/inicio">
                        <img src="/img/sb.png" width="180"  alt="Orçamento pessoal">
                    </a>
                
                {{#adm}}
                    <div class="add">
                        <div class="collapse navbar-collapse menu" id="navbarTogglerDemo03">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/inicio">Início</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/dash">Dados</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/usuarios">Usuários</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout" >Sair</a>
                                </li>
                            </ul>
                        
                        </div>
                    </div>
                {{/adm}}
                {{^adm}}
                    <div class="add">
                        <div class="collapse navbar-collapse menu" id="navbarTogglerDemo03">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/inicio">Início</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/dash">Dados</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout" >Sair</a>
                                </li>
                            </ul>
                        
                        </div>
                    </div>
                {{/adm}}
                    
            </div>
           
        </nav>
        <!-- FIM DO MENU -->